*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 1,5em;
    line-height: 1.6;
}
.conteiner{
    max-width: 1100px;
    margin: 0 auto;
   padding: 1.5em;
}
.logo span{
    color: red;
.logo{
    text-align: center;
    font-size: 3em;
}
}
.contact-container {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.animated {
}
.bounceInUp {
}
.contact-form {
    background: gray;

}
.contact-form form{
    
    
}
.contact-form label{
    display: block;
}
.contact-info {
}

