*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 1,5em;
    line-height: 1.6;
}
.conteiner{
    max-width: 1100px;
    margin: 0 auto;
   padding: 1.5em;
}
.logo span{
    color: red;
.logo{
    text-align: center;
    font-size: 3em;
    
}
}
.contact-container {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 20px;
}

.contact-form {
    background: #222222
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
   
}
.contact-form form h3{
    color: #fff
    font-size: 1.5em;
    margin-bottom: 10px;

    
    
}
.contact-form form button{
    background-color: red;
    color: #fff
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    
}
.contact-form label{
    display: block;
    color: #fff
    margin-bottom: 5px;
}
.contact-form input,
.contact-form form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #4444;
   color: #fff;
   outline: none;
}

.contact-info{
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.contact-info i{
    margin-right: 15px;

}
.mapa-conteiner {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.mapa-conteiner iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 20px;
    
}



